.idea
.idea/*
.pytest_cache
.venv/
.venv
dist/
build/
src/Percepto.egg-info
src/Percepto.egg-info/
logs
./logfile.log
logs/logfile.log
build
dist
src/drivers/chromedriver.exe
src/clients/__pycache__/
src/cfg_global/__pycache__/
src/tests/__pycache__/
src/utils/__pycache__/
src/cfg/cfg_global/__pycache__/
.gitignore