.idea
.idea/*
.pytest_cache
.venv/
.venv
dist/
build/
src/pythonMProject.egg-info
src/pythonMProject.egg-info/
logs
./logfile.log
logs/logfile.log
build
dist
src/web/drivers/chromedriver.exe
src/web/clients/__pycache__/
src/cfg_global/__pycache__/
src/tests/__pycache__/
src/utils/__pycache__/
src/cfg/cfg_global/__pycache__/
src/api/clients/__pycache__/

